In [1]:
import numpy as np
import matplotlib.pyplot as plt
import cv2
import os

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv("./Train/train.csv")

In [4]:
train

     ImageId NameOfPokemon
0    296.jpg       Pikachu
1    297.jpg       Pikachu
2    298.jpg       Pikachu
3    299.jpg       Pikachu
4    300.jpg       Pikachu
..       ...           ...
299  616.jpg    Charmander
300  617.jpg    Charmander
301  618.jpg    Charmander
302  619.jpg    Charmander
303  620.jpg    Charmander

[304 rows x 2 columns]

In [5]:
images=os.listdir("Train/Images/")

In [6]:
len(images)

304

In [11]:
dic = {
    0 : "Pikachu",
    1 : "Bulbasaur",
    2 : "Charmander"
}
rev_dic = {
    "Pikachu" : 0,
    "Bulbasaur" : 1,
    "Charmander" : 2
}

In [21]:
x=[]
y=[]

In [22]:
BASE_PATH = "Pokemon Dataset/Train/Images/"

In [23]:
for im in images:
    img_path = BASE_PATH+im
    i = cv2.imread(img_path)
    i = cv2.resize(i, (100,100))
    
    x.append(i)
    
    l=list(train[ train['ImageId']==im ]['NameOfPokemon'])[0]
    i=rev_dic[l]
    
    y.append(l)

In [25]:
X=np.array(x)
y=np.array(y)

In [27]:
X.shape

(304, 100, 100, 3)