In [65]:
i=1
while i<11:
    print(i, end="    ")
    i+=1

1    2    3    4    5    6    7    8    9    10

In [11]:
def test(a,b):
    return a+b

In [12]:
test(3,9)

12

In [66]:
def pattern(n):
    i=1
    for i in range(n):
        print("*"*(i))

In [19]:
pattern(5)

*
**
***
****
*****

In [127]:
def pyramid(x):
    for i in range(x):
        
        print("."*(x-(i+1)) + "x"*(2*(i+1)-1))

In [128]:
pyramid(5)

....x
...xxx
..xxxxx
.xxxxxxx
xxxxxxxxx

In [125]:
def hpyramid(x):
    for i in range(x):
        
        print("."*(x-(i+1)) + "x"*(i+1))

In [126]:
hpyramid(5)

....x
...xx
..xxx
.xxxx
xxxxx

In [30]:
l=[5,2,8,6,20,12,67,420]

In [25]:
l[0]

5

In [84]:
l[-1]

2

In [29]:
type(l)

list

In [31]:
l[ 2:5]

[8, 6, 20]

In [32]:
l[ :5]

[5, 2, 8, 6, 20]

In [108]:
for ele in l:
    print(ele**2)

4
9
25
36
64
144
400
4489
10000
10000
176400

In [104]:
l.append(100)

In [35]:
l

[5, 2, 8, 6, 20, 12, 67, 420, 100]

In [85]:
l.insert?

In [37]:
l.insert(3,3)

In [38]:
l

[5, 2, 8, 3, 6, 20, 12, 67, 420, 100]

In [107]:
l.sort()

In [40]:
l

[2, 3, 5, 6, 8, 12, 20, 67, 100, 420]

In [41]:
l.sort(reverse=True)

In [42]:
l

[420, 100, 67, 20, 12, 8, 6, 5, 3, 2]

In [49]:
## tuples

In [46]:
t=(1,2,3,4,5,6,7)

In [47]:
t[-1]

7

# dictionary

In [113]:
food_men ={
    "samosa":10,
    "juice":[15,20,25],
    'coffee':{
        's':20,
        'm':25,
        'l':30
    }
}

In [114]:
food_men['juice'][-1]

25

In [115]:
food_men["coffee"]['m']

25

In [116]:
food_men.keys()

dict_keys(['samosa', 'juice', 'coffee'])

In [57]:
food_men.values()

dict_values([10, [15, 20, 25], {'s': 20, 'm': 25, 'l': 30}])

In [58]:
food_men.items()

dict_items([('sam', 10), ('juice', [15, 20, 25]), ('coffee', {'s': 20, 'm': 25, 'l': 30})])

In [120]:
type(food_men(samosa))

NameError: name 'samosa' is not defined

# str

In [121]:
s="hello "

In [122]:
s*4

'hello hello hello hello '

In [123]:
s.lower()

'hello '

In [124]:
s.upper()

'HELLO '